body {
	background-color: #f8f8f8;
	position: relative;
	padding: 1em 0%;
	color: #000;
	font-family: 'Lato', sans-serif;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	color: #000;
}

input[type=text]#search_input {
	border: 1px solid #ccc;
	padding: .3em 1em;
	background-color: #e9e9e9;
	color: #999;
	border-radius: 1em;
}

.isSmall {
	float: left;
}

#site_header {
	position: relative;
	margin: 1em 10%;
	line-height: 2.5em;
}

#site_title {
	float: left;
	text-align: left;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: bold;
}

#site_title img {
	display: inline;
	height: 1em;
}

#navigation {
	float: right;
	text-align: right;
}

#navigation li {
	display: inline;
	margin: 0em .2em;
	list-style: none inside;
	font-size: .9em;
}

#navigation li a {
	text-transform: uppercase;
	font-weight: bold;
	color: #888;
	padding: .35em 1em;
	border-radius: 3em;
}

#navigation li a:hover {
	background-color: #0288d1;
	color: #fff;
}

#navigation li a.active {
	background-color: #009688;
	color: #fff;
}

#navigation li#search_entry a {
	padding: .3em 1em;
}

#navigation li#search_entry img {
	display: inline;
	width: 1em;
	height: 1em;
}

#navigation li#search_entry a:hover {
	background-color: #eee;
	border-radius: 1em;
}

#search {
	position: relative;
	margin: 2em 0em;
}

#main {
	position: relative;
	margin: 1.5em 0;
}


/*	
	========
	Articles
	========
*/

.article {
	box-sizing: border-box;
}

/* Group */

.article.group {
	display: inline;
	float: left;
	margin: 1em .5%;
	width: 26%;
	padding-bottom: 1em;
	overflow: hidden;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.article.group a:hover img {
	opacity: .8;
}

.article.group:nth-child(3n+2) {
	clear: left;
	margin-left: 10%;
}

.article.group:nth-child(3n+4) {
	margin-right: 10%;
}

.article.group .article_image img {
	object-fit: cover;
	width: 100%;
	height: 10em;
}

.article.group .article_date {
	text-align: center;
	line-height: 3em;
	font-size: .8em;
	color: #aaa;
}

.article.group .article_title {
	margin: 0 5%;
	text-align: center;
	line-height: 1.5em;
	font-size: 1em;
	width: 90%;
}

/* Featured article */

.article.group:first-child {
	display: block;
	clear:both;
	margin: .25em 0;
	width: 100%;
	height: 30em;
	border: 0;
	border-radius: 0;
	color: #fff;
	box-sizing: border-box;
}

.article.group:first-child .article_image {
	overflow: hidden;
	width: 100%;
	height: calc(100% - 1.9em);
}

.article.group:first-child .article_image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.article.group:first-child .article_title,
.article.single .article_title {
	position: absolute;
	top: 1.5em;
	margin: 0 10%;
	width: 80%;
	text-align: center;
	color: #fff;
	font-size: 3em;
	line-height: 1.2em;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

.article.group:first-child .article_date,
.article.single .article_date {
	position: absolute;
	top: 2.5em;
	width: 100%;
	color: #fff;
	text-align: center;
	line-height: 1em;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

/* Single article */

.article.single.page .article_title {
	position: relative;
	top: 0;
	margin: 0 auto;
	margin-bottom: .5em;
	color: #000;
	text-shadow: none;
}

.article.single .article_image img {
	object-fit: cover;
	width: 100%;
	height: 35em;
	border-radius: 0;
}

.article.single .article_categories {
	margin: 1em auto;
	width: 100%;
	text-align: center;
}

.article.single .article_categories a {
	color: #aaa;
	text-transform: uppercase;
	font-size: .9em;
}

.article.single .article_categories a:after {
	content: " | ";
}

.article.single .article_categories a:last-child:after {
	content: "";
}

.article.single .article_text,
.article.single .article_share,
.article.single #article_pagination {
	margin: 0 auto;
	width: 60%;
}

.article_share {
	text-align: center;
}

.article_share a {
	width: 1em;
	display: inline-block;
	line-height: 1em;
	margin: .4em;
	margin-bottom: 2em;
	background-color: #ddd;
	padding: .8em;
	border-radius: 50%;
	color: #777;
	font-size: .9em;
}

.article_share a:hover {
	color: #fff;
}

.article_share a.icon_twitter:hover { background-color: #4da7de }
.article_share a.icon_facebook:hover { background-color: #3e5b98 }
.article_share a.icon_googleplus:hover { background-color: #dd4b39 }


/*
	=============
	Category list
	=============
*/

#category_list {
	background-color: #ddd;
	padding: 0em 10%;
}

#category_list li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
}

#category_list li a {
	display: inline-block;
	padding: 1.2em .7em;
	color: #777;
}

#category_list li a:first-child {
	padding-left: 0;
}

#category_list li a.active {
	background-color: #f8f8f8;
}


/*
	=============
	Category page
	=============
*/

.category_title, .results_title {
	margin: 1em 10%;
	font-size: 1.5em;
	color: #999;
}


/* 
	============
	Article text
	============
*/

.article_text {
	text-align: justify;
	color: #000;
	line-height: 1.7em;
	font-size: 1.05em;
}

.article_text a {
	text-decoration: underline;
	color: #333;
}

.article_text a.footnote, .article_text a.reversefootnote {
	text-decoration: none;
}

.article_read_more {
	margin-bottom: 2.5em;
}

.article_read_more a  {
	text-decoration: underline;
}

.article_text p, .article_text ul, .article_text ol {
	margin-bottom: 1em;
}

.article_text img {
	margin: 1em auto;
	max-width: 100%;
}

.article_text h1 {
	font-size: 2em;
}

.article_text h2 {
	font-size: 1.7em;
}

.article_text h3 {
	font-size: 1.4em;
}

.article_text h4 {
	font-size: 1.3em;
}

.article_text h5 {
	font-size: 1.2em;
}

.article_text h1, .article_text h2, .article_text h3,
.article_text h4, .article_text h5, .article_text h6 {
	margin: 1em 0em;
	font-weight: bold;
}

.article_text h6 {
	font-size: 1em;
	font-weight: bold;
}

.article_text cite {
	font-style: italic;
}

.article_text pre code {
	margin: 1em auto;
	width: 85%;
	border-left: 5px solid #e0e0e0;
	padding: 1em;
	background-color: #f5f5f5;
	font-family: 'Source Code Pro', monospace;
	font-size: .9em;
	border-radius: 3px;
}

.article_text code {
	padding: 1px 5px;
	font-family: 'Source Code Pro', monospace;
	border-radius: 3px;
	background-color: #eef;
	border: 1px solid #e8e8e8;
	font-size: .9em;
}

.article_text blockquote {
	margin: 1em auto;
	width: 85%;
	border-left: 4px solid #e0e0e0;
	padding: 1em;
	line-height: 1.2em;
}

.article_text blockquote p {
	margin-bottom: .5em;
}

.article_text blockquote p:last-child {
	margin-bottom: 0;
}

.article_text ul {
	list-style-type: disc;
	list-style-position: inside;
}

.article_text ol {
	list-style-type: decimal;
	list-style-position: inside;
}

.article_text li {
	margin: .2em 0;
}

.article_text figcaption {
	color: #888;
	font-size: .9em;
	font-style: italic;
}

.article_text .fluid-width-video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.article_text .fluid-width-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article_text .lineno {
	padding-right: 1em;
}

.article_text dl {
	margin: 2em 0em;
	color: #666;
}

.article_text dl dt {
	font-weight: bold;
}

.article_text hr {
	margin: 1em 0em;
	color: #fafafa;
	border-color: #fafafa;
}

.article_text .alignleft {
	float: left;
	margin: 0em 1.5em 0em 0em;
}

.article_text .alignright {
	float: right;
	margin: 0em 0em 0em 1.5em;
}

.article_text .footnotes {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ccc;
}

.article_text .icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.article_text sup {
	vertical-align: super;
	font-size: .7em;
}

.article_text sup a, .article_text .footnotes a {
	color: #2196f3;
	border-bottom: none;
}

.article_text .footnotes ol {
	list-style-type: decimal;
	margin-bottom: 0;
}

.article_text .footnotes p {
	display: inline;
}


/*
	==========
	Pagination
	==========
*/

#archive_pagination {
	position: relative;
	margin: 1em auto;
	text-align: center;
	color: #aaa;
	font-size: .9em;
}

#archive_pagination a {
	margin: 0em .2em;
	display: inline-block;
	padding: .5em .8em;
	line-height: 1em;
	color: #aaa;
	border: 1px solid #aaa;
	border-radius: 3px;
}

#archive_pagination span.page_number {
	padding: .25em;
}

#article_pagination {
	width: 100%;
	margin: 2em auto;
}

#article_pagination a {
	color: #aaa;
}

#article_pagination div {
}

#article_pagination div.previous {
	float: left;
	width: 45%;
	text-align: left;
}

#article_pagination div.next {
	float: right;
	width: 45%;
	text-align: right;
}

#article_comments {
	width: 60%;
	margin: 2em auto 1em auto;
}


/*
	======
	Footer
	======
*/

#footer {
	position: relative;
	clear: both;
	overflow: hidden;
	display: block;
	margin: 2em .5em 0em .5em;
	border-top: 1px solid #ccc;
	padding: 2em 10% 1em 10%;
	color: #424242;
	font-size: .95em;
}

#footer #left {
	float: left;
	width: 50%;
	line-height: 1.5em;
}

#footer #right {
	float: right;
	width: 50%;
	text-align: right;
}

#footer #right #title {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: .5em;
}

#footer #right #credits {
	font-size: .9em;
}

#footer a {
	color: #000;
}
